.hide {
    display: none;
}

.modal__message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 200px;
    background-color: #fff;

    border-radius: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 130%;
}

.activated {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}